<mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Kanban Board Login</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="Home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="user-management" routerLinkActive="active">User Management</a>
    <a mat-button routerLink="add-board" routerLinkActive="active">Create New Board</a>
    <mat-form-field class="board-select">
      <mat-select>
        <mat-label> Board</mat-label>
        <mat-option value="option">Option</mat-option>
      </mat-select>
  </mat-form-field>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
